**(1)** Suppose you invested in Bitcoin at the end of 2017 when Bitcoin gained a lot of value. What would be your money at the end of a week if you had invested \$1000 with an average daily increase of 12\% ? You can solve the problem using Python.

In [1]:
investment = 1000
i = 0

while i < 7:
    investment += investment * .12
    i += 1
print(f"{investment:.3f}")

2210.681

**(2)**  Print the text in quotes with Python. However, you must get the numbers from variables using `.format()` notation. <br> Because the text is long, you might consider writing in two lines:

        `"When we buy bitcoin with 1000 USD at the beginning of the week, we would earn 1210.68 USD at the end of the week, with an average gain of 12\%."`

In [2]:
beginning = 1000
earn = 1210.68
av_gain = 12

print("""`"When we buy bitcoin with {} USD at the beginning of the week,\
 we would earn {} USD at the end of the week, with an average gain of {}\%."`""".format(beginning, earn, av_gain))

`"When we buy bitcoin with 1000 USD at the beginning of the week, we would earn 1210.68 USD at the end of the week, with an average gain of 12\%."`

**(3)**  Get the temperature in Fahrenheit from user and write a code to convert it to Celcius. For conversion, you can use this formula: C = (5/9) * (F - 32)

        Enter the temperature in Fahrenheit: 
        user --> 26
        output --> Temperature (C) : -3.33

In [3]:
fahrenheit = int(input("Enter the temperature in Fahrenheit : "))
celcius = (5/9) * (fahrenheit-32)

print(f"Temperature (C) : {celcius:.2f}")

Enter the temperature in Fahrenheit :  26

Temperature (C) : -3.33

**(4)**  Get a three digit number the from user and calculate the sum of the digits in the integer.

        user --> 365
        output --> "The sum of digits in the number is 14

In [4]:
number = input("Input a three digit number :")
sum = int(number[0]) + int(number[1]) + int(number[2])

print(f"The sum of digits in the number is {sum}")

Input a three digit number : 365

The sum of digits in the number is 14

**(5)**  Write some code to calculate the hypotenuse of a right angled triangle. Get the side lengths from the user.

        user --> first side lenth : 6
        user --> first side lenth : 8
        output --> "The length of the hypotenuse is 10

In [5]:
first_side = int(input("First side length : "))
second_side = int(input("Second side length :"))
hypotenuse = (first_side ** 2 + second_side ** 2) ** (1/2)

print(f"The length of the hypotenuse is {hypotenuse}")

First side length :  6
Second side length : 8

The length of the hypotenuse is 10.0