**(1)** Create a dictionary with 7 days. Ask the user to choose 2 different days by listing the (e.g. "12" for Monday and Tuesday). Delete the user-selected days from the dictionary and print the remaining 5 days on the screen.<br><br>

In [1]:
days = {
    1: 'Monday',
    2: 'Tuesday',
    3: 'Wednesday',
    4: 'Thursday',
    5: 'Friday',
    6: 'Saturday',
    7: 'Sunday',
} 

chosen = input('Write two days to delete (e.g. "25"):')

del days[int(chosen[0])]
del days[int(chosen[1])]

print(days)

Write two days to delete (e.g. "25"): 25

{1: 'Monday', 3: 'Wednesday', 4: 'Thursday', 6: 'Saturday', 7: 'Sunday'}

**(2)**  Create a dictionary with the following personnel. Use names as keys.

|Name|Age|Sex|
|-|-|-|
|John|25|Male|
|Lisa|28|Female|
|Linda|32|Female|
|Michael|41|Male|

In [2]:
personnel = {'John': {'Age': 25,
                      'Sex': 'Male'},
             'Lisa': {'Age': 28,
                      'Sex': 'Female'},
             'Linda': {'Age': 32,
                       'Sex': 'Female'},
             'Michael': {'Age': 41,
                         'Sex': 'Male'}
             }

In [3]:
#method of using list as value

personnel_list = {'John': [25, 'Male'],
                  'Lisa': [28, 'Female'],
                  'Linda': [32, 'Female'],
                  'Michael': [41, 'Male']}

**(3)** Add child information to Michael and Linda. Michael has two children (Karen (age : 12, female) and Greg (age : 7, male) and Linda has one child (Susan (age: 6, female))

In [4]:
personnel.update({'Michael': {'Age': 41,
                              'Sex': 'Male',
                              'Children': {'Karen': {'Age': 12,
                                                     'Sex': 'Female'},
                                           'Greg': {'Age': 7,
                                                    'Sex': 'Male'}}}})

personnel.update({'Linda': {'Age': 32,
                            'Sex': 'Female',
                            'Children': {'Greg': {'Age': 7,
                                                  'Sex': 'Male'}}}})
print(personnel)

{'John': {'Age': 25, 'Sex': 'Male'}, 'Lisa': {'Age': 28, 'Sex': 'Female'}, 'Linda': {'Age': 32, 'Sex': 'Female', 'Children': {'Greg': {'Age': 7, 'Sex': 'Male'}}}, 'Michael': {'Age': 41, 'Sex': 'Male', 'Children': {'Karen': {'Age': 12, 'Sex': 'Female'}, 'Greg': {'Age': 7, 'Sex': 'Male'}}}}

In [5]:
#method of using list as value

personnel_list['Michael'].append({'Children': {'Karen': [12, 'Female'],
                                               'Greg': [7, 'Male']}})

personnel_list['Linda'].append({'Children': {'Susan': [6, 'Female']}})

print(personnel_list)

{'John': [25, 'Male'], 'Lisa': [28, 'Female'], 'Linda': [32, 'Female', {'Children': {'Susan': [6, 'Female']}}], 'Michael': [41, 'Male', {'Children': {'Karen': [12, 'Female'], 'Greg': [7, 'Male']}}]}

**(4)** Print the names of Michael's children in a list.

In [6]:
list(personnel['Michael']['Children'].keys())

['Karen', 'Greg']

In [7]:
#method of using list as value

list(personnel_list['Michael'][2]['Children'].keys())

['Karen', 'Greg']