**(1)** Create a tuple named "week" containing weekdays.

In [1]:
week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
print(week)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

**(2)** Create a set named "fruits" containing followings: apple, mango, orange

In [2]:
fruits = set(["apple", "mango", "orange"])
print(fruits)

{'orange', 'mango', 'apple'}

**(3)** Create a new set named "new_fruits" containing followings: cherry, peach, apple, mango

In [3]:
new_fruits = {'cherry', 'peach', 'apple', 'mango'}
print(new_fruits)

{'cherry', 'mango', 'peach', 'apple'}

**(4)** Find the fruits which are in new_fruits but not in fruits.

In [4]:
diff = new_fruits.difference(fruits)
print(f"Only in new fruits {diff}")

Only in new fruits {'cherry', 'peach'}

**(5)** Find the fruits which are in both new_fruits and fruits.

In [5]:
isc = new_fruits.intersection(fruits)
print(f"Both in new fruits {isc}")

Both in new fruits {'mango', 'apple'}