In [1]:
import numpy as np
import pandas as pd

For Pandas assignments, you are going to use [Titanic](https://www.kaggle.com/c/titanic/download/GQf0y8ebHO0C4JXscPPp%2Fversions%2FXkNkvXwqPPVG0Qt3MtQT%2Ffiles%2Ftrain.csv) (train.csv) dataset. Download the dataset and load to a DataFrame.

**(1)** By using conditional selection methods, calculate the survival rate for all passengers under 30 years old.

In [2]:
train = pd.read_csv('train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
surv_rate = train.loc[train['Age'] < 30, 'Survived'].mean() 
print(f"The survival rate for all passengers under 30 years old : %{surv_rate*100}")

The survival rate for all passengers under 30 years old : %40.625

**(2)** Calculate the survival rate by gender.

In [4]:
train.groupby('Sex')[['Survived']].mean() #groupby

        Survived
Sex
female  0.742038
male    0.188908

In [5]:
male_srate = train.loc[train['Sex'] == 'male', 'Survived'].mean() * 100
female_srate = train.loc[train['Sex'] == 'female', 'Survived'].mean() * 100
print(f"The survival rate of male : %{male_srate:.3f}")
print(f"The survival rate of female : %{female_srate:.3f}")

The survival rate of male : %18.891
The survival rate of female : %74.204