**(1)** Please form a multiplication table from user input.

    Example :

        Enter a number : 6
        6 x 1 = 6                                                               
        6 x 2 = 12                                                              
        6 x 3 = 18                                                              
        6 x 4 = 24                                                              
        6 x 5 = 30                                                              
        6 x 6 = 36                                                              
        6 x 7 = 42                                                              
        6 x 8 = 48                                                              
        6 x 9 = 54                                                              
        6 x 10 = 60

In [1]:
num = int(input("Enter a number : "))
for i in range (1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number :  6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [2]:
#while loop

num = int(input("Enter a number : "))
i = 1
while i < 11:
    print(f"{num} x {i} = {num * i} ")
    i += 1

Enter a number :  6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

**(2)** Simply by using list compherension, form a list by taking square of odds numbers and by calculating cube of even numbers from 1 to 20.

In [3]:
[i ** 2 if i % 2 == 1 else i ** 3 for i in range(1, 21)]

[1,
 8,
 9,
 64,
 25,
 216,
 49,
 512,
 81,
 1000,
 121,
 1728,
 169,
 2744,
 225,
 4096,
 289,
 5832,
 361,
 8000]

**(3)** Please type a code that inverts the initial user input.

    Example : "automobile" --> "elibomotua"

In [4]:
word = input("Enter the word to be inverted : ")
new_word = ''
for i in range(len(word)-1, -1, -1):
    new_word += word[i]
print(f'"{word}" --> "{new_word}"')

Enter the word to be inverted :  automobile

"automobile" --> "elibomotua"

**(4)** Using `range(1, 201)`, make two lists. One is containing all even numbers and the other containing all odd numbers.

In [5]:
odd = []
even = []
for i in range(1, 201):
    if i%2 == 1:
        odd.append(i)
    else:
        even.append(i)

print("Even numbers:", even)
print('='*105)
print("Odd numbers:", odd)

Even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]
=========================================================================================================
Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

**(5)** Define a function called `count` that has two arguments called `sequence` and `item`. Return the number of times the item occurs in the list.<br>

    Example:
    ```python
    count([1,2,1,1], 1)
    ```
    It should return 3. Because `1` appears 3 times in the list.

In [6]:
def count(sequence, item):
    count = 0
    for num in sequence:
        if num == item:
            count += 1
    return count

print(count([1,2,1,1], 1))

3

**(6)** Write a function called `digit_sum` that takes a positive integer n as input and returns the sum of all that number's digits as a single-digit number.

    Example:
        27684 --> 2 + 7 + 6 + 8 + 4 = 27 --> 2 + 7 = 9

In [7]:
def digit_sum(n):

    sum = 0
    for i in str(n):
        sum += int(i)

    t=0 
    while sum > 0:
        k = sum % 10
        sum = sum // 10
        t = t + k
    return t   
  
print(digit_sum(27684))

9

**(7)** Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.

In [8]:
def gcd(num_1, num_2):
    i = 1
    gcd = 1
    while (i <= num_1 and i <= num_2):

        if (num_1 % i == 0 ) and (num_2 % i == 0): # 2nd option --> if (not (num_1 % i) and not (num_2 % i)):
            gcd = i
        i += 1
    return gcd

print("GCD:", gcd(16, 12))

GCD: 4

**(8)** Write a Python program that iterates integers from 1 to 50. For multiples of three print `fizz` instead of the number and for the multiples of five print `buzz`. For numbers which are multiples of both three and five print `fizzbuzz`.

In [9]:
for i in range(1, 51):
    if i % 3 == 0 and i % 5 != 0:
        print('fizz')
    elif i % 5 == 0 and i % 3 != 0:
        print('buzz')
    elif i % 3 == 0 and i % 5 == 0:
        print('fizzbuzz')
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz


**(9)** Please form a list out of Fibonacci numbers from 1 to 50. The first two Fibonacci numbers are 1. The next numbers are the sum of the previous two.

In [10]:
#for loop  

a = 1
b = 1
fibonacci = [a, b]
for i in range(10):
    a, b = b, a + b
    fibonacci.append(b)
    if a + b > 50:
        break
print(fibonacci)

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [11]:
#while loop

a = 1
b = 1
fibonacci = [a, b]
while a+b < 51:
    a, b = b, a+b
    fibonacci.append(b)
print(fibonacci)

[1, 1, 2, 3, 5, 8, 13, 21, 34]